body {
    background-color: rgb(202, 202, 202);
    margin: 0;
    padding: 0;
}

.container {
    margin: 0 auto;
    max-width: 450px;
}

header .logo {
    margin: 1rem 0;
    justify-content: center;
    display: flex;
}

header img {
    border-radius: 0.3rem;
    width: 400px;
}

.text-description-center p {
    color: rgb(56, 56, 56);
    font-size: 1.4rem;
    font-weight: 500;
    font-family: 'Rubik', sans-serif;
    margin: 2rem 0 0 0;
    text-align: center;
}

.text-description-center .hr {
    margin: 0.3rem auto;
    width: 150px;
    height: 3px;
    border-radius: 1rem;
    background-color: rgb(56, 56, 56)
}

.field {
    margin: 0.5rem 0;
    width: 450px;
    justify-content: space-between;
    align-items: center;
    display: flex;
}

.field:nth-of-type(1) {
    margin: 1rem 0;
    justify-content: center;
}

.field input:nth-of-type(1) {
    padding: 1rem 0 1rem 1rem;
}

.field p {
    font-weight: 500;
    font-family: 'Rubik', sans-serif;
    margin: 0;
}

.result-name {
    font-weight: 500;
    font-size: 1.1rem;
    font-family: 'Rubik', sans-serif;
    margin: 2rem 0;
    text-align: center;
}

.field input {
    font-family: 'Rubik', sans-serif;
    border: 0;
    padding: 1rem 0;
    width: 350px;
}

.field input:focus {
    outline: none;
}

@media only screen and (max-width: 460px) {

    header img {
        width: 95%;
    }
 
    .field {
        text-align: left;
        margin: 0.5rem auto;
        width: 90%;
        display: block;
    }

    .field:nth-of-type(1) {
        margin: 1rem auto;
    }
    
    .field input {
        width: 100%;
    }

    
    .field input:nth-of-type(1) {
        width: 95%;
    }

}

@media only screen and (max-width: 280px) {

    .text-description-center p {
        font-size: 1.1rem;
    }
}